.search-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
}
.search-header i {
  color: #fff;
  margin-left: 5px;
}
.search-header div {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  height: 30px;
  margin-right: 10px;
  width: 100%;
}
.search-header div input {
  border: none;
  padding: 2%;
}
