.buy {
  display: flex;
  justify-content: space-around;
  /*一边一个，而且相对于页面居中*/
  margin-bottom: 10px;
}
.buy button {
  width: 70px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  border: none;
}
